<%- layout('layouts/boilerplate') %>

<h1><%= result.Title %> (<%= result.Year %>)</h1>
<!-- <h1>
    <% for (let letter of result.Title.toUpperCase()) { %> 
            <span><%= letter %></span>
    <% } %>
    (
    <% for (let num of result.Year) { %>
        <span><%= num %></span>
    <% } %>
    )
</h1> -->
<div class="row">
    <div class="col-6 mb-3">
        <div class="card mb-3">
            <img class='card-img-top' src="<%= result.Poster%>" alt="">
            <div class="card-body">
            <h5 class='card-title'><%= result.Actors %></h5>
            <h6 class='card-subtitle'>Directed By: <%= result.Director %></h6>
            <p class='card-text'><%= result.Plot %></p>
        </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-header">
                Critic Ratings 
            </div>
            <ul class="list-group list-group-flush">
                <% result.Ratings.forEach(rate => { %>
                    <li class="list-group-item">
                       <%= rate.Source %>: <%= rate.Value %>
                    </li>
                <% }) %>
            </ul>
        </div>
    <button class='btn btn-success'>Add to Watched</button>   
    <div class="card mb-3">
        <h2>User Reviews</h2>
    <form action="">
        <div class="mb-3">
            <label class='form-label' for="body">Rate: </label>
            <fieldset class="starability-basic">
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            <label class='form-label' for="body">Review</label>
            <textarea class='form-control' name="body" id="body" cols="100" rows="8"></textarea>
        </div>
    </form> 
    </div>
    </div>
</div>
