<%- layout('layouts/boilerplate') %>

<h1><%= result.Title %> (<%= result.Year %>)</h1>

<div class="row">
    <div class="col-6 mb-3">
        <div class="card mb-3">
            <img class='card-img-top' src="<%= result.Poster%>" alt="">
            <div class="card-body">
            <h5 class='card-title'><%= result.Actors %></h5>
            <h6 class='card-subtitle'>Directed By: <%= result.Director %> &emsp; Language: <%= result.Language %></h6>
            <p class='card-text'><%= result.Plot %></p>
        </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-header">
                Critic Ratings 
            </div>
            <ul class="list-group list-group-flush">
                <% result.Ratings.forEach(rate => { %>
                    <li class="list-group-item">
                       <%= rate.Source %>: <%= rate.Value %>
                    </li>
                <% }) %>
            </ul>
        </div>
        <a class='card-link btn btn-info' href='#'>View Recommendations</a>
        <form  class='d-inline' action="">
            <button formaction="/watched" formmethod="POST" class='btn btn-success'>Add to Watched</button>   
            <button formaction="/reviews" formmethod="GET" class='btn btn-light'>Add a Review</button>
        </form>
        <div class="card mb-3">
            <h2>User Reviews</h2>
        
        </div>
    </div>
</div>
